@import url('/styles/header.css');

:root {
    --branco: #FFFFFF;
    --cor-de-fundo: #EBECEE;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}