.carrossel__titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--laranja);
    padding: 1em 0 .5em 0;
    text-transform: uppercase;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    margin: .5em 0;
    position: initial;
}