.cabecalho {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: no-repeat center;
    background-image: url("../img/Menu.svg");
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    top: 100%;
    width: 60vw;
    display: none;
    position: absolute;
}

/* "~"=> combinador css: procura o elemento que vem depois dele pela classe */
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.lista-menu__link {
    background-clip: text;
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
    
}